<!-- <template name="checkboxSettings">
  <div class="checkbox-settings">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="name">
          {{show}}
        </span>
        <div class="switch">
          {{> afFieldInput name=show}}
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="tag col-lg-1 control-label">#</label>
          <div class="col-lg-11 input-container">
            {{> afFieldInput name=details}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template> -->
