<template name="_footer">
  <footer>
    <div class="container">
      <p class="text-center text-muted">
      </p>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <span>
          <a class="white-text" href="{{ pathFor 'staticContentDisplay' _name='privacy' }}">{{_ "privacy"}}</a>
          <a class="white-text" href="{{ pathFor 'staticContentDisplay' _name='volunteersAgreement' }}">{{_ "volunteer_agreement"}}</a>
        </span>
        <!-- <span class="right"> &copy; Copyright 2016 Pietro </span> -->
      </div>
    </div>
  </footer>
</template>
