<template name="_footer">
  <footer>
    <div class="container">
      <p class="text-center text-muted">
      </p>
    </div>
    <div class="footer-copyright">
      <div class="container">

        <span>
          <a class="white-text" href="{{ pathFor 'siteNotice' }}" title="Impressum">Impressum</a> |
          <a class="white-text" href="{{ pathFor 'disclaimer' }}" title="Disclaimer">Disclaimer</a> |
          <a class="white-text" href="{{ pathFor 'privacy' }}" title="Privacy">Privacy</a>
        </span>
        <span class="right">
          &copy; Copyright 2016 Pietro
        </span>
      </div>
    </div>
  </footer>
</template>
