<template name="_header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">{{_ "Toggle navigation"}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'main'}}">{{_ "siteTitle"}}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{#if isInRole 'manager'}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{_ "areas"}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#each areas}}
                  <li><a href="{{pathFor 'areasDashboard'}}">{{_ this.name}}</a></li>
                {{/each}}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{_ "admin"}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{{isActiveRoute 'volunteerBackend'}}">
                  <a href="{{pathFor 'volunteerBackend'}}">{{_ "volunteers"}}</a>
                </li>
          		  <li class="{{isActiveRoute 'performanceBackend'}}">
                  <a href="{{pathFor 'performanceBackend'}}">{{_ "performances"}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="{{isActiveRoute 'allUsersList'}}">
                  <a href="{{pathFor 'allUsersList'}}">{{_ "all_users"}}</a>
                </li>
                <li class="{{isActiveRoute 'areasSettings'}}">
                  <a href="{{pathFor 'areasSettings'}}">{{_ "areas_settings"}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="{{isActiveRoute 'emailQueue'}}">
                  <a href="{{pathFor 'emailQueue'}}">{{_ "email"}}</a>
                </li>
                <li class="{{isActiveRoute 'staticContentBackend'}}">
                  <a href="{{pathFor 'staticContentBackend'}}">{{_ "static_content"}}</a>
                </li>
                {{#if isDev}}
                  <li class="{{isActiveRoute 'translations'}}">
                    <a href="{{pathFor 'translations'}}">{{_ "translations"}}</a>
                  </li>
                {{/if}}
              </ul>
            </li>
          {{/if}}
          {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{_ "welcome"}} {{firstName}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
          		  <li class="{{isActiveRoute 'profile'}}">
                  <a href="{{pathFor 'profile'}}"> {{_ "edit_profile"}}</a>
                </li>
          		  <li class="{{isActiveRoute 'atChangePwd'}}">
                  <a href="{{pathFor 'atChangePwd'}}"> {{_ "change_password"}}</a>
                </li>
                {{#if isImpersonating}}
                  <li><a data-action="unimpersonate">{{_ "Click to unimpersonate"}}</a></li>
                {{/if}}
              </ul>
            </li>
          {{/if}}
    		  {{> atNavButton}}
        </ul>
      </div>
    </div>
  </nav>
</template>
