
<template name="insertPerformanceForm">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>{{_ "performance_form"}}</h2>
      <p>{{_ "performance_form_explanation"}}</p>
      {{> quickForm id="insertPerformanceForm"
        collection="PerformanceForm" type="method"
        meteormethod="Performance.addForm" }}
  </div>
</div>
</template>

<template name="updatePerformanceForm">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>{{_ "performance_form"}}</h2>
      <p>{{_ "performance_form_explanation"}}</p>
      {{>quickForm id="updatePerformanceForm"
        collection="PerformanceForm" doc=this
        type="method-update" meteormethod="Performance.updateForm" }}
  </div>
</div>
</template>

<template name="performanceList">
  <div class="panel panel-default">
    <div class="panel-body">
      {{#if $and ($not accepted) ($not proposed)}}
        {{#markdown}}{{_ "performance_wait_for_proposal"}}{{/markdown}}
      {{/if}}
      {{#if accepted}}
        {{#markdown}}{{_ "performance_accepted_instructions"}}{{/markdown}}
        <h3>{{_ "accepted"}}</h3>
        {{> reactiveTable settings=AcceptedPerformanceTableSettings }}
      {{/if}}

      {{#if proposed}}
        {{#if accepted}}
          {{#markdown}}{{_ "performance_wait_for_proposed"}}{{/markdown}}
        {{else}}
          {{#markdown}}{{_ "performance_wait_for_answer"}}{{/markdown}}
        {{/if}}
        <h3>{{_ "proposed"}}</h3>
        {{> reactiveTable settings=ProposedPerformanceTableSettings }}
      {{/if}}
    </div>
  </div>
</template>
