
<template name="insertPerformanceForm">
  {{> quickForm id="insertPerformanceForm"
    collection="PerformanceForm" type="method"
    meteormethod="Performance.addForm" }}
</template>

<template name="updatePerformanceForm">
  {{>quickForm id="updatePerformanceForm"
    collection="PerformanceForm" doc=this
    type="method-update" meteormethod="Performance.updateForm" }}
</template>

<template name="performanceList">
  <div class="panel panel-default">
    <div class="panel-body">
      {{#if $and ($not accepted) ($not proposed)}}
        {{#markdown}}{{_ "performance_wait_for_proposal"}}{{/markdown}}
      {{/if}}
      {{#if accepted}}
        {{#markdown}}{{_ "performance_accepted_instructions"}}{{/markdown}}
        <h3>{{_ "accepted"}}</h3>
        {{> reactiveTable settings=AcceptedPerformanceTableSettings }}
      {{/if}}

      {{#if proposed}}
        {{#if accepted}}
          {{#markdown}}{{_ "performance_wait_for_proposed"}}{{/markdown}}
        {{else}}
          {{#markdown}}{{_ "performance_wait_for_answer"}}{{/markdown}}
        {{/if}}
        <h3>{{_ "proposed"}}</h3>
        {{> reactiveTable settings=ProposedPerformanceTableSettings }}
      {{/if}}
    </div>
  </div>

</template>
