<template name="userDashboard">
  <div class="row">
    <div class="col-md-3">
      <div class="nav nav-pills nav-stacked">
        <span class="list-group-item">
          {{fa "user" ""}} <a data-template="userProfile">{{_ "profile"}}</a>
          {{#unless isProfileComplete}}
            <span class="text-danger"> {{fa "exclamation-triangle" ""}}</span>
          {{/unless}}
        </span>
        <span class="list-group-item">
          {{fa "heart" ""}} <a data-template="volunteerList">{{_ "volunteering"}}</a>
          {{#if isVolunteer}}
            <a class="badge btn-small">{{fa "pencil" "updateVolunteerForm"}}</a>
            <a class="badge btn-small">{{fa "trash" "removeVolunteerForm"}}</a>
          {{else}}
            <a class="badge btn-small">{{fa "plus-square" "insertVolunteerForm"}}</a>
          {{/if}}
        </span>
        <span class="list-group-item">
          {{fa "list" ""}} <a data-template="publicVolunteerCal">{{_ "planning"}}</a>
        </span>
        <span class="list-group-item">
          {{fa "star" ""}} <a data-template="performanceList">{{_ "performance"}}</a>
          <a class="badge btn-small">{{fa "plus-square" "insertPerformanceForm"}}</a>
        </span>
        <span class="list-group-item">
          {{fa "question" ""}} <a data-template="userHelp">{{_ "help"}}</a>
        </span>
      </div>
    </div>
    <div class="col-md-9">
      {{> Template.dynamic template=tab.template data=tab.data}}
      {{ content}}
    </div>
  </div>
</template>

<template name="userProfile">
  {{> quickForm id="userProfileForm"
    collection="Meteor.users" doc=this
    type="update" fields="profile" }}
</template>

<template name="userHelp">
  {{#markdown}}{{_ "user_help" }}{{/markdown}}
</template>
