<template name="userDashboard">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <div class="list-group-item">
            {{fa "user" ""}}
            <a href="#" data-template="userProfile">{{_ "profile"}}</a>
            {{#if isProfileComplete}}
              <span style="color: red;">{{fa "exclamation-triangle" ""}}</span>
            {{/if}}
          </div>
          <div class="list-group-item">
            {{fa "heart" ""}}
            <a href="#" data-template="volunteerList">{{_ "volunteering"}}</a>
              {{#if isVolunteer}}
                <span class="badge">{{fa "pencil" "updateVolunteerForm"}}</span>
                <span class="badge">{{fa "trash" "removeVolunteerForm"}}</span>
              {{else}}
                <span class="badge">{{fa "plus-square" "insertVolunteerForm"}}</span>
              {{/if}}
          </div>
          <div class="list-group-item">
            {{fa "star" ""}}
            <a href="#" data-template="performanceList">{{_ "performance"}}</a>
            <span class="badge">{{fa "plus-square" "insertPerformanceForm"}}</span>
          </div>
          <div class="list-group-item">
            {{fa "question" ""}}
            <a href="#" data-template="userHelp">{{_ "help"}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-9 content">
          <!-- <div class="panel panel-default">
            <div class="panel-heading">{{title}}</div>
            <div class="panel-body"> -->
              {{> Template.dynamic template=tab.template data=tab.data}}
              {{ content}}
            <!-- </div>
          </div> -->
      </div>
    </div>
  </div>
</template>

<template name="userProfile">
  {{> quickForm id="userProfileForm"
    collection="Meteor.users" doc=this
    type="update" fields="profile" }}
</template>

<template name="userHelp">
  {{#markdown}}{{_ "user_help" }}{{/markdown}}
</template>
