<template name="insertVolunteerForm">
  {{> quickForm collection="VolunteerForm"
    id="insertVolunteerForm" type="method"
    meteormethod="Volunteer.addForm"}}
</template>

<template name="updateVolunteerForm">
  {{> quickForm id="updateVolunteerForm"
    collection="VolunteerForm" type="method-update"
    meteormethod="Volunteer.updateForm" doc=this}}
</template>

<template name="volunteerList">
  <div class="panel panel-default">
    <div class="panel-body">
      {{#if isVolunteer}}
          {{#if hasResource}}
            {{#markdown}}{{_ "volunteer_has_task"}}{{/markdown}}
            {{> reactiveTable settings=VolunteerResourceUserTableSettings }}
          {{else}}
            {{#markdown}}{{_ "volunteer_wait_for_task"}}{{/markdown}}
          {{/if}}
      {{else}}
          {{#markdown}}{{_ "create_volunteer_profile"}}{{/markdown}}
      {{/if}}
    </div>
  </div>
</template>
