<template name="insertVolunteerForm">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>{{_ "volunteer_preferences"}}</h2>
      <p>{{_ "volunteer_preferences_explanation"}}</p>
      {{> quickForm collection="VolunteerForm"
        id="insertVolunteerForm" type="method"
        meteormethod="Volunteer.addForm"}}
    </div>
  </div>
</template>

<template name="updateVolunteerForm">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>{{_ "volunteer_preferences"}}</h2>
      <p>{{_ "volunteer_preferences_explanation"}}</p>
      {{> quickForm id="updateVolunteerForm"
        collection="VolunteerForm" type="method-update"
        meteormethod="Volunteer.updateForm" doc=this}}
    </div>
  </div>
</template>

<template name="volunteerList">
  <div class="panel panel-default">
    <div class="panel-body">
      {{#if isVolunteer}}
          {{#if hasLead}}
            {{#markdown}}{{_ "volunteer_has_lead"}}{{/markdown}}
            {{> reactiveTable settings=VolunteerCrewUserTableSettings }}
          {{/if}}
          {{#if hasShift}}
            {{#markdown}}{{_ "volunteer_has_task"}}{{/markdown}}
            {{> reactiveTable settings=VolunteerShiftUserTableSettings }}
          {{else}}
            {{#markdown}}{{_ "volunteer_wait_for_task"}}{{/markdown}}
          {{/if}}
      {{else}}
          {{#markdown}}{{_ "create_volunteer_profile"}}{{/markdown}}
      {{/if}}
    </div>
  </div>
</template>
