<template name="userDashboard">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-md-2 col-sm-1 sidebar">
        <div class="nav nav-pills nav-stacked">
          <ul>
            <li><a href="#" data-template="userProfile">{{_ "profile"}}</a></li>
            <li>
              <a href="#" data-template="volunteerList">{{_ "volunteering"}}</a>
              {{#if isVolunteer}}
                <i data-action="updateVolunteerForm"
                  class="fa fa-pencil" aria-hidden="true"></i>
                <i data-action="removeVolunteerForm"
                  class="fa fa-trash" aria-hidden="true"></i>
              {{else}}
                <i data-action="insertVolunteerForm"
                  class="fa fa-plus-square" aria-hidden="true"></i>
              {{/if}}
            </li>
            <li>
              <a href="#" data-template="performanceList">{{_ "performance"}}</a>
              <i data-action="insertPerformanceForm"
                class="fa fa-plus-square" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 col-sm-11 content">
          <div class="panel panel-default">
            <h1>{{title}}</h1>
            <div class="panel-body">
              {{> Template.dynamic template=tab.template data=tab.data}}
              {{ content}}
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<template name="userProfile">
  {{> quickForm id="userProfileForm"
    collection="Meteor.users" doc=this
    type="update" fields="profile" }}
</template>
