.volunteer-task-td {
  word-wrap: break-word;
  max-width: 160px;
}

.fc {
  font-size: 14px;
}

.form-group label, .form-group label.control-label {
  font-size: medium;
  color: black;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.taglist li + li:before {
    content: ", ";
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
/*.checkbox-settings {
  .panel-heading {
    .name {
      display: inline-block;
      font-weight: bold;
    }
    .switch {
      display: inline-block;
      float: right;
    }
  }
  .panel-body {
    .tag {
      padding-right: 5px;
      margin-top: 0;
      font-size: 17px;
    }
    .input-container {
      padding-left: 10px;
    }
  }
}*/
