<template name="areasDashboard">
  <div class="row row-no-padding">
    <div class="col-md-2">
      <div class="nav nav-pills nav-stacked">
        <span class="list-group-item">
          <h3>{{_ name}}</h3>
        </span>
        <!-- <span class="list-group-item">
          {{fa "cog" ""}}
          <a href="#" data-template="areaSettings">{{_ "area_settings"}}</a>
        </span> -->
        <span class="list-group-item">
          {{fa "calendar-o" ""}}
          <a href="#" data-template="volunteerAreaCal">{{_ "volunteering_planner"}}</a>
        </span>
        <span class="list-group-item">
          {{fa "list" ""}}
          <a href="#" data-template="volunteerAreaList">{{_ "volunteering_table"}}</a>
        </span>
        <span class="list-group-item">
          {{fa "calendar-o" ""}}
          <a href="#" data-template="performanceAreaCal">{{_ "performance_planner"}}</a>
        </span>
        <span class="list-group-item">
          {{fa "question" ""}}
          <a href="#" data-template="areaHelp">{{_ "area_help"}}</a>
        </span>
      </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-body">
            {{> Template.dynamic template=tab.template data=this }}
            {{ content}}
          </div>
        </div>
    </div>
  </div>
</template>

<template name="volunteerAreaList">
  {{> reactiveTable settings=volunteerAreaTableSettings }}
</template>

<template name="volunteersDraggable">
  <div id="external-events-vol">
    <h4>{{_ "volunteers"}}</h4>
    {{#each volunteers}}
      <div style="background-color:{{color}};" class="ext-event ui-draggable ui-draggable-handle grabbable"
        data-event='{"title":"{{name}}","userId":"{{userId}}","crewId":"{{crewId}}"}'
        data-stick="true">
        <a tabindex="0" class="ext-popover" role="button" data-toggle="popover"
          data-id="{{userId}}"><span class="badge">{{fa "info" ""}}</span></a>
        {{> volunteerPopover (userInfo(userId)) }}
        {{name}} <span class="badge">{{shiftNumber}}</span>
      </div>
    {{/each}}
  </div>
</template>

<template name="volunteerPopover">
  <div id="popover-content-{{user._id}}" class="hide">
    <table class="table table-user-information">
      <tbody>
        <tr><td>{{_ "name"}}</td><td>{{getUserName(user._id)}}</td></tr>
        <tr><td>{{_ "telephone"}}</td><td>{{user.profile.telephone}}</td></tr>
        {{#if user.profile.facebook}}
          <tr><td>{{_ "facebook"}}</td><td>{{user.profile.facebook}}</td></tr>
        {{/if}}
        {{#if form.car}}
          <tr><td>{{_ "has_car"}}</td><td>{{form.car}}</td></tr>
        {{/if}}
        {{#if form.cooking}}
          <tr><td>{{_ "available_for_cooking"}}</td><td>{{form.cooking}}</td></tr>
        {{/if}}
        {{#if form.skills}}
          <tr><td>{{_ "roles"}}</td><td>
            <div class="list-group">
              {{#each form.role}}
                <div class="list-group-item">{{getRoleName this}}</div>
              {{/each}}
            </div>
            </td>
          </tr>
        {{/if}}
        {{#if form.skills}}
          <tr><td>{{_ "skills"}}</td><td>
            <div class="list-group">
              {{#each form.skills}}
                <div class="list-group-item">{{getSkillName this}}</div>
              {{/each}}
            </div>
            </td>
          </tr>
        {{/if}}
        {{#if form.teams}}
          <tr><td>{{_ "teams"}}</td><td>
            <div class="list-group">
              {{#each form.teams}}
                <div class="list-group-item">{{getTeamName this}}</div>
              {{/each}}
            </div>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
    <table class="table">
      <tbody>
      {{#each shifts}}
        <tr><td>{{area}}/{{team}}</td><td>{{start}} - {{end}}</td></tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="volunteerAreaCal">
  <div class="row row-no-padding">
    <div class="col-md-2">
      {{> volunteersDraggable volunteers=volunteers}}
    </div>
    <div class="col-md-10">
      {{> fullcalendar options }}
    </div>
  </div>
  {{> volunteerAreaCalInfoModal}}
  {{> insertAreaCalTeamFormModal}}
</template>

<template name="insertAreaCalTeamFormModal">
  <div id="insertAreaCalTeamFormModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">{{fa "times" ""}}</span> <span class="sr-only">{{_ "close"}}</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{_ "add_team_explanation"}}</p>
          {{> quickForm collection="Teams"
            id="addTeamsForm" type="method"
            meteormethod="Backend.insertTeam" doc=this}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="updateAreaCalTeamFormModal">
  <div id="updateAreaCalTeamFormModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="pull-left">
            <span aria-hidden="true">
              <i data-action="removeTeam" class="fa fa-trash-o" data-id="{{_id}}" aria-hidden="true"></i>
            </span> <span class="sr-only">{{_ "remove"}}</span>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">{{fa "times" ""}}</span> <span class="sr-only">{{_ "close"}}</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{_ "add_team_explanation"}}</p>
          {{> quickForm collection="Teams"
            id="updateTeamsForm" type="method-update"
            meteormethod="Backend.updateTeam" doc=this}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="volunteerUserProfileModal">
  <div id="volunteerUserProfileModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="pull-left">
            <span aria-hidden="true">
              <i class="fa fa-trash-o"
                data-action="removeShift"
                data-id="{{shift.eventId}}"
                data-fceventid="{{fcEventId}}"
                aria-hidden="true"></i>
            </span> <span class="sr-only">{{_ "remove"}}</span>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">{{fa "times"}}</span> <span class="sr-only">{{_ "close"}}</span>
          </button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <table class="table table-user-information">
            <tbody>
              <tr><td>{{_ "time"}}:</td><td>{{shift.start}} - {{shift.end}}</td></tr>
              <tr><td>{{_ "team"}}:</td><td>{{team.name}}</td></tr>
              <tr><td>{{_ "role"}}:</td><td>{{_ role}}</td></tr>
              <tr><td>{{_ "description"}}:</td><td>{{team.description}}</td></tr>
              <tr><td>{{_ "team_leads"}}:</td><td>
                <ul class="taglist list-inline">
                  {{#each team.leads}}
                    <li>{{getUserName this}}</li>
                  {{/each}}
                </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-body">{{> volunteerUserProfile this}}</div>
      </div>
    </div>
  </div>
</template>

<template name="volunteerAreaCalInfoModal">
  <div id="volunteerAreaCalInfoModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">{{fa "times"}}</span> <span class="sr-only">{{_ "close"}}</span>
          </button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">{{> volunteerUserProfile userId}}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="performancesDraggable">
  <div id="external-events-perf" class="panel panel-default">
    <h4>{{_ "performances"}}</h4>
    {{#each performances}}
      <div style="background-color:{{color}};" class="ext-event ui-draggable ui-draggable-handle grabbable"
        data-event='{"title":"{{name}}","userId":"{{userId}}","eventId":"{{performanceId}}","color":"{{color}}"}'
        data-stick="true">{{name}}</div>
    {{/each}}
  </div>
</template>

<template name="performanceAreaCal">
  <div class="row row-no-padding">
    <div class="col-md-2">
      {{> performancesDraggable performances=performances}}
    </div>
    <div class="col-md-10">
      {{> fullcalendar options }}
    </div>
  </div>
  {{> performanceAreaCalInfoModal}}
</template>

<template name="performanceAreaCalInfoModal">
  <div id="performanceAreaCalInfoModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{> performanceDisplay form}}
        <div class="modal-footer">
          <div class="pull-left">
            <span aria-hidden="true">
              <i class="fa fa-trash-o"
                data-action="removePerformanceEvent"
                data-id="{{performance.eventId}}"
                data-fceventid="{{fcEventId}}"
                aria-hidden="true"></i>
            </span> <span class="sr-only">{{_ "remove"}}</span>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
        </div>
      </div>
    </div>
  </div>
</template>
