<template name="staticContentDisplay">
  <h1>{{title}}</h1>
  {{#markdown}}{{body}}{{/markdown}}
</template>

<template name="staticContentDisplayModal">
  <div id="staticContentDisplayModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">{{fa "times" ""}}</span> <span class="sr-only">{{_ "close"}}</span>
          </button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{#markdown}}{{body}}{{/markdown}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="staticContentForm">
  <ul class="nav nav-pills nav-justified">
    {{#each languages}}
      <li class="{{#if $eq lang this}}active{{/if}}">
        <a href="#" data-action="switchTab" data-lang="{{this}}">{{this}}</a>
      </li>
    {{/each}}
  </ul>
  {{#with (currentResource(name)) }}
    <div class="panel">
      <div class="panel-heading">
        {{#if _id}}
          <div class="pull-left">
            <span aria-hidden="true">
              <i data-action="removeContent" class="fa fa-trash-o"
                data-id="{{_id}}" aria-hidden="true"></i>
            </span> <span class="sr-only">{{_ "remove"}}</span>
          </div>
          {{_ "update"}}
        {{else}}
          {{_ "add"}}
        {{/if}}
      </div>
      {{#if _id}}
        {{# autoForm collection="StaticContent"
          id="updateStaticContent" type="method-update"
          meteormethod="Backend.updateContent" doc=this }}
          {{> afQuickField name="type" type="hidden" }}
          {{> afQuickField name="name" type="hidden" }}
          {{> afQuickFields omitFields="type,name" }}
          <button type="submit" class="btn btn-primary">{{_ "submit"}}</button>
        {{/autoForm}}
      {{else}}
        {{# autoForm collection="StaticContent"
          id="insertStaticContent" type="method"
          meteormethod="Backend.addContent" doc=this }}
          {{#if $and name type}}
            {{> afQuickField name="name" type="hidden" }}
            {{> afQuickField name="type" type="hidden" }}
            {{> afQuickFields omitFields="type,name" }}
          {{else}}
            {{> afQuickField name="language" type="hidden" }}
            {{> afQuickFields omitFields="language" }}
          {{/if}}
          <button type="submit" class="btn btn-primary">{{_ "submit"}}</button>
        {{/autoForm}}
      {{/if}}
    </div>
  {{/with}}
</template>

<template name="staticContentBackend">
  <div class="row">
    <div class="col-md-3">
      <div class="pull-left">
        <span class="btn bnt-default" aria-hidden="true"> {{fa "plus-square-o" "insertContent"}}
        </span> <span class="sr-only">{{_ "new"}}</span>
        <span class="btn bnt-default" aria-hidden="true"> {{fa "floppy-o" "saveContent"}}
        </span> <span class="sr-only">{{_ "save"}}</span>
      </div>
      {{> reactiveTable settings=ContentTableSettings }}
    </div>
    <div class="col-md-9">
      <!-- {{#if currentResource }} -->
        {{> Template.dynamic template="staticContentForm" data=currentResource }}
      <!-- {{/if}} -->
    </div>
  </div>
</template>
