<template name="performanceDisplay">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">{{_ "general"}}</a></li>
    {{#if media}}
      <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">{{_ "media"}}</a></li>
    {{/if}}
    <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">{{_ "details"}}</a></li>
    <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">{{_ "edit"}}</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
      <h2>{{title}}</h2>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "description"}}</label>
        <div class="col-xs-10">{{description}}</div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "kind"}}</label>
        <div class="col-xs-10">{{getKindName kindId}}</div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "type"}}</label>
        <div class="col-xs-10">{{_ type}}</div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "budget"}}</label>
        <div class="col-xs-10">{{budget}}</div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "links"}}</label>
        <div class="col-xs-10">
          <ul>
            {{#each links}} <li>this</li> {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="media">
      <img alt="Media Pic" src="{{mediaFileLink media}}" class="img-responsive">
    </div>
    <div role="tabpanel" class="tab-pane" id="details">
      {{#if installation}}
        {{#if installation.dimension}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "dimension"}}</label>
            <div class="col-xs-10">{{installation.dimension}}</div>
          </div>
        {{/if}}
        {{#if installation.meterial}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "material"}}</label>
            <div class="col-xs-10">{{installation.meterial}}</div>
          </div>
        {{/if}}
        {{#if installation.textitles}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "textitles"}}</label>
            <div class="col-xs-10">{{installation.textitles_details}}</div>
          </div>
        {{/if}}
        {{#if installation.fire}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "fire"}}</label>
            <div class="col-xs-10">{{installation.fire_details}}</div>
          </div>
        {{/if}}
        {{#if sound}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "sound"}}</label>
            <div class="col-xs-10">{{installation.sound_details}}</div>
          </div>
        {{/if}}
        {{#if light}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "light"}}</label>
            <div class="col-xs-10">{{installation.light_details}}</div>
          </div>
        {{/if}}
        {{#if installation.power}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "power"}}</label>
            <div class="col-xs-10">{{installation.power}}</div>
          </div>
        {{/if}}
        {{#if installation.help}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "help"}}</label>
            <div class="col-xs-10">{{installation.help}}</div>
          </div>
        {{/if}}
        {{#if installation.installation}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "installation"}}</label>
            <div class="col-xs-10">{{installation.installation}}</div>
          </div>
        {{/if}}
        {{#if installation.safety}}
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "safety"}}</label>
          <div class="col-xs-10">{{installation.safety}}</div>
        </div>
        {{/if}}
        {{#if installation.logistic}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "logistic"}}</label>
            <div class="col-xs-10">{{installation.logistic}}</div>
          </div>
        {{/if}}
      {{/if}}
      {{#if dj}}
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "duration"}}</label>
          <div class="col-xs-10">{{dj.duration}}</div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "time"}}</label>
          <div class="col-xs-10">{{_ dj.time}}</div>
        </div>
      {{/if}}
      {{#if performance}}
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "duration"}}</label>
          <div class="col-xs-10">{{performance.duration}}</div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "logistic"}}</label>
          <div class="col-xs-10">{{performance.logistic}}</div>
        </div>
        {{#if performance.fire}}
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "fire"}}</label>
            <div class="col-xs-10">{{performance.fire_details}}</div>
          </div>
        {{/if}}
      {{/if}}
      {{#if workshop}}
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "type"}}</label>
          <div class="col-xs-10">{{_ workshop.type}}</div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "kids"}}</label>
          <div class="col-xs-10">{{workshop.kids}}</div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "space"}}</label>
          <div class="col-xs-10">{{workshop.space}}</div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "duration"}}</label>
          <div class="col-xs-10">{{workshop.duration}}</div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">{{_ "logistic"}}</label>
          <div class="col-xs-10">{{workshop.logistic}}</div>
        </div>
       {{/if}}
    </div>
    <div role="tabpanel" class="tab-pane" id="edit">{{> updatePerformanceForm }} </div>
  </div>
</template>

<template name="performanceBackend">
  <div class="row">
    <div class="col-md-3">
      {{> reactiveTable settings=PerformanceTableSettings }}
    </div>
    <div class="col-md-9">
      {{#if currentResource.form}}
        <div class='panel panel-default'>
          <div class="row">
            <div class="col-md-8">
              {{> performanceDisplay currentResource.form}}
            </div>
            <div class="col-md-4">
              <h4>{{_ "performance_status"}}</h4>
              {{#if currentResource.data._id}}
                {{> quickForm meteormethod="Backend.updatePerformanceResource"
                    type="method-update" id="updatePerformanceResourceForm"
                    collection="PerformanceResource" doc=currentResource.data
                    omitFields="start,end" resetOnSuccess=false }}
              {{else}}
                {{> quickForm meteormethod="Backend.insertPerformanceResource"
                    type="method" id="insertPerformanceResourceForm" doc=currentResource.data
                    collection="PerformanceResource" omitFields="start,end"
                    resetOnSuccess=false }}
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
