<template name="areasSettings">
  <div class="pull-left">
    <span aria-hidden="true">
      <i class="fa fa-file" data-action="insertArea" aria-hidden="true"></i>
    </span> <span class="sr-only">{{_ "add"}}</span>
  </div>
  {{> reactiveTable settings=areasTableSettings }}
</template>

<template name="areasSettingsTeams">
  <ul>
    {{#each (teams(_id))}}
    <li>{{name}} ({{number}})</li>
    {{/each}}
  </ul>
</template>

<template name="areasSettingsLeads">
  <ul>
    {{#each (leads(_id))}}
    <li>{{name}} {{#if role}}({{role}}){{/if}}</li>
    {{/each}}
  </ul>
</template>

<template name="updateAreaModal">
  <div id="updateAreaModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="pull-left">
            <span aria-hidden="true">
              <i data-action="removeArea" class="fa fa-trash-o" data-id="{{doc._id}}" aria-hidden="true"></i>
              - <span class="text-danger"> {{fa "exclamation-triangle" ""}}</span> {{_ "remove_danger"}}
            </span> <span class="sr-only">{{_ "remove"}}</span>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">{{fa "times" ""}}</span> <span class="sr-only">{{_ "close"}}</span>
          </button>
        </div>
        <div class="modal-body">
          {{#if doc}}
            {{> quickForm collection="Areas" id="updateAreaForm"
              type="method-update" meteormethod="Backend.updateArea"
              doc=doc omitFields="leads"}}
          {{else}}
            {{> quickForm collection="Areas" id="insertAreaForm"
              type="method" meteormethod="Backend.insertArea"
              omitFields="leads"}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="skillsSettings">
  {{> reactiveTable settings=skillsTableSettings }}
</template>

<template name="rolesSettings">
  {{> reactiveTable settings=rolesTableSettings }}
</template>

<template name="availabilitysSettings">
  {{> reactiveTable settings=availabilityTableSettings }}
</template>

<template name="adminEnrollAccount">
  <div id="adminEnrollAccount" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">{{fa "times" ""}}</span> <span class="sr-only">{{_ "close"}}</span>
          </button>
          <h4 class="modal-title">{{_ "enroll_account"}}</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="Meteor.users" id="adminEnrollAccount"
            type="method" meteormethod="Accounts.adminEnrollAccount"
            fields="emails,profile.firstName,profile.lastName" }}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="allUsersList">
  <div class="row">
    <div class="col-md-3">
      <!-- {{_ "enroll_account"}} : {{fa "plus" "enroll-account"}} -->
      {{> reactiveTableFilter id="username-filter" fields=usernameFilterFields }}
      {{> reactiveTable settings=allUsersTableSettings }}
    </div>
    <div class="col-md-9">
      {{> allUsersProfile currentResource}}
    </div>
  </div>
</template>

<template name="allUsersActions">
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user fa-fw"></i>{{_ "actions"}}
    </button>
    <ul class="dropdown-menu">
      <!-- <li><a data-action="sudo-user">{{_ "impersonate"}}</a></li> -->
      <li class="dropdown-item">
        <a data-action="remove-user">
          <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> {{_ "remove"}}
        </a>
      </li>
      <li class="divider-divider"></li>
      <!-- <li><a data-action="email-user"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> {{_ "send_email"}}</a> </li> -->
      {{#if isInRole 'admin'}}
        <li class="divider"></li>
      {{/if}}
      {{#if isInRole 'super-admin'}}
        <li class="dropdown-item">
          <a data-action="admin-user">
            <i class="fa fa-unlock" aria-hidden="true"></i> {{_ "make_admin"}}
          </a>
        </li>
      {{/if}}
      {{#if isInRole 'admin'}}
        <li class="dropdown-item">
          <a data-action="manager-user">
            <i class="fa fa-unlock" aria-hidden="true"></i> {{_ "make_manager"}}
          </a>
        </li>
      {{/if}}
      {{#if isInRole 'manager'}}
        <li class="dropdown-item">
          <a data-action="normal-user">
            <i class="fa fa-unlock" aria-hidden="true"></i> {{_ "make_user"}}
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</template>

<template name="allUsersProfile">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{getUserName _id}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">
          <img alt="User Pic" src="{{imageFileLink profile.picture}}" class="img-circle img-responsive">
          {{> allUsersActions }}
        </div>
        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
              <tr><td>{{_ "playaName"}}:</td><td>{{profile.playaName}}</td></tr>
              <tr><td>{{_ "telephone"}}</td><td>{{profile.telephone}}</td></tr>
              <tr><td>{{_ "email"}}</td>
                <td>{{emails.[0].address}}{{#if emails.[0].verified}}{{fa 'check'}}{{/if}}</td>
              </tr>
              <tr><td>{{_ "facebook"}}</td><td>{{profile.facebook}}</td></tr>
              <tr><td>{{_ "createdAt"}}</td><td>{{createdAt}}</td></tr>
        		  <tr><td>{{_ "last_login"}}</td><td>{{lastLogin}}</td></tr>
              <tr><td>{{_ "site_roles"}}</td><td>{{displayRoles _id}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
