<template name="updateVolunteerResourceForm">
  {{#autoForm meteormethod="VolunteerBackend.updateResourceForm" type="method-update"
    id="updateVolunteerResourceForm" collection="VolunteerResource" doc=this}}
    {{> afQuickField name="userId" value=this.userId}}
    <div class="form-inline">
      {{> afQuickField name="roleId" }}
      {{> afQuickField name="areaId" }}
      {{> afQuickField name="teamId" }}
      <button type="submit" class="btn btn-primary pull-right">{{_ "update"}}</button>
    </div>
    {{> afQuickField name="notes" }}
  {{/autoForm}}
</template>

<template name="insertVolunteerResourceForm">
  {{#autoForm meteormethod="VolunteerBackend.insertResourceForm" type="method"
    id="insertVolunteerResourceForm" collection="VolunteerResource" doc=this}}
    {{> afQuickField name="userId" value=this.userId}}
    <div class="form-inline">
      {{> afQuickField name="roleId" }}
      {{> afQuickField name="areaId" }}
      {{> afQuickField name="teamId" }}
      <button type="submit" class="btn btn-primary pull-right">{{_ "new"}}</button>
    </div>
    {{> afQuickField name="notes" }}
  {{/autoForm}}
</template>

<template name="volunteerBackend">
  <div class="row">
    <div class="col-md-3">
      {{> reactiveTable settings=VolunteerTableSettings }}
    </div>
    {{#if currentResource.form}}
    <div class="col-md-8 content">
      <div class='panel panel-default'>
        <div class="row">
          <div class="panel-heading">
            <!-- <h4>{{_ "name"}}:</h4> -->
            {{getUserName currentResource.form.userId}}
          </div>
          <div class="col-md-4">
            <strong>{{_ "roles"}}:</strong>
            <ul class="list-group">
              {{#each currentResource.form.role}}
                <li class="list-group-item">{{getRoleName this}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col-md-4">
            <strong>{{_ "skills"}}:</strong>
            <ul class="list-group">
              {{#each currentResource.form.skills}}
                <li class="list-group-item">{{getSkillName this}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col-md-4">
            <strong>{{_ "teams"}}:</strong>
            <ul class="list-group">
              {{#each currentResource.form.teams}}
                <li class="list-group-item">{{getTeamName this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div>
          <strong>{{_ "notes"}}:</strong>
          <div>{{currentResource.form.notes}}</div>
        </div>
      </div>
      <div class="panel panel-default">
        {{> Template.dynamic template=currentResource.template data=currentResource.data }}
      </div>
      <div class="">
        {{> reactiveTable settings=VolunteerResourceTableSettings }}
      </div>
    </div>
    {{/if}}
  </div>
</template>
