<template name="updateVolunteerResourceForm">
  {{#autoForm meteormethod="VolunteerBackend.updateResourceForm" type="method-update"
    id="updateVolunteerResourceForm" collection="VolunteerResource"
    doc=this preserveForm=false resetOnSuccess=false}}
    {{> afQuickField name="userId" value=this.userId}}
    <div class="form-inline">
      {{> afQuickField name="role" }}
      {{> afQuickField name="area" }}
      {{> afQuickField name="timeslot" }}
      <button type="submit" class="btn btn-primary pull-right">{{_ "update"}}</button>
    </div>
    {{> afQuickField name="task" }}
  {{/autoForm}}
  <div class="form-control-static pull-right">{{_ "sign_off_by"}} {{username}}</div>
</template>

<template name="insertVolunteerResourceForm">
  {{#autoForm meteormethod="VolunteerBackend.insertResourceForm" type="method"
    id="insertVolunteerResourceForm" collection="VolunteerResource"
    doc=this preserveForm=false resetOnSuccess=false}}
    {{> afQuickField name="userId" value=this.userId}}
    <div class="form-inline">
      {{> afQuickField name="role" }}
      {{> afQuickField name="area" }}
      {{> afQuickField name="timeslot" }}
      <button type="submit" class="btn btn-primary pull-right">{{_ "new"}}</button>
    </div>
    {{> afQuickField name="task" }}
  {{/autoForm}}
  <div class="form-control-static pull-right">{{_ "sign_off_by"}} {{username}}</div>
</template>

<template name="volunteerBackend">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-md-3">
        {{> reactiveTable settings=VolunteerTableSettings }}
      </div>
      <div class="col-md-8 content">
        <div class="row well">
          {{> Template.dynamic template=currentResource.template data=currentResource.data }}
        </div>
        <div class="row">
          {{> reactiveTable settings=VolunteerResourceTableSettings }}
        </div>
      </div>
    </div>
  </div>
</template>
